@import '@/app/variables';

.head {
    position: absolute;
    z-index: 20;
    width: 100%;
    max-width: 480px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    top: -15px;

    @media screen and (max-width: 768px) {
        top: -10px;
        max-width: calc(100vw - 80px);
    }

    .link {
        background-color: $color1;

        span {
            color: $color5;
            font-size: 28px;
            font-weight: 700;
            padding: 4px 20px;

            @media screen and (max-width: 768px) {
                font-size: 18px;
                padding: 4px 8px;
            }
        }
    }

    .logo {
        @media screen and (max-width: 768px) {
            width: 140px;
            height: 50px;
        }
    }

    .humb {
        opacity: 0;
    }

}

.bg {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}