@import '@/app/variables';

.wrap {
    height: 100%;
    border: 1px solid $color5;
    position: relative;
    background-color: rgba($color1, .5);
    width: 100%;

    .head {
        height: 51px;
        padding: 8px 17px;
        background-color: $color5;
        display: flex;
        align-items: center;

        p {
            font-size: 29px;
        }
    }

    .image {
        padding: 10px;
        height: calc(100% - 144px - 51px);

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .datail {
        padding: 17px;
        height: 144px;

        h2 {
            font-size: 28px;
            color: $color5;
            max-width: 284px;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            /* ブラウザがサポートしていない場合のフェールセーフ */
            max-height: 36px;

            @media screen and (max-width: 1301px) {
                font-size: 22px;
                max-width: 200px;
            }

            @media screen and (max-width: 768px) {
                font-size: 20px;
                max-width: 173px;
            }
        }

        p {
            font-size: 18px;
            color: $color6;
            max-width: 284px;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            /* ブラウザがサポートしていない場合のフェールセーフ */
            max-height: 54px;

            @media screen and (max-width: 1301px) {
                font-size: 16px;
                max-width: 200px;
            }

            @media screen and (max-width: 768px) {
                font-size: 14px;
                max-width: 173px;
            }
        }
    }

    .link {
        height: 45px;
        width: 90px;
        background-color: $color5;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        right: 0;

        span {
            font-size: 23px;
        }

        &::before {
            content: "";
            height: 45px;
            width: 45px;
            background-color: $color5;
            position: absolute;
            top: -44px;
            right: 0;
        }

        @media screen and (max-width: 768px) {
            height: 25px;
            width: 50px;

            span {
                font-size: 14px;
            }

            &::before {
                height: 25px;
                width: 25px;
                top: -24px;
            }
        }
    }
}