@import '@/app/variables';

.wrap {
    width: 576px;
    position: absolute;
    z-index: 20;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

    @media screen and (max-width: 768px) {
        width: 290px;
        gap: 10px;
    }


    .button {
        background-color: $color1;
        width: 100px;
        height: 100px;
        border: $color7 solid 4px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;

        @media screen and (max-width: 768px) {
            border: $color7 solid 2px;
            width: 50px;
            height: 50px;
        }

        .inner {
            border: $color7 solid 4px;
            width: 100%;
            height: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 768px) {
                border: $color7 solid 2px;
                padding: 5px;
            }

            .object {
                text-align: center;

                svg {
                    margin: auto;
                    width: 50px;
                    height: 50px;

                    @media screen and (max-width: 768px) {
                        width: 25px;
                        height: 25px;
                        margin-bottom: -10px;
                    }

                    path {
                        fill: $color7;
                    }
                }

                span {
                    font-size: 17px;
                    font-weight: 700;
                    color: $color7;

                    @media screen and (max-width: 768px) {
                        font-size: 10px;
                    }
                }
            }
        }

        &.active,
        &:hover {
            border: $color5 solid 4px;

            @media screen and (max-width: 768px) {
                border: $color5 solid 2px;
            }

            .inner {
                border: $color5 solid 4px;

                @media screen and (max-width: 768px) {
                    border: $color5 solid 2px;
                }
            }

            .object {
                svg {
                    path {
                        fill: $color5;
                    }
                }

                span {
                    color: $color5;
                }
            }

        }
    }
}